.headerButtonsDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: blue;
    height: 100px;
}

.headerButtons {
    width: 150px;
    height: 40px;
    background-color: green;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.headerButtons:hover {
    background-color: darkgreen;
}

.headerButtons:focus {
    outline: none;
}